.button {
    margin: 10px;
    background-color: blue;
    color: white;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}

#test {
    float: right;
    display: inline;
    color: red;
}
.startBtn {
    margin: 10px;
    background-color: blue;
    color: white;
}